.instruction-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download-text {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.form-title {
    text-align: center;
    font-size: 2em;
}

.form-group label {
    margin: 20px;
    width: 35%;
}

.radio-label {
    margin: 20px 40px 20px 0px !important;
    width: 20% !important;
}

.form-field {
    width: 60%;
}

.form-group .dob-select {
    width: 33.3%; 
    display: inline-block;
}

.patient-specialist-info {
    display: flex;
}

.patient-info {
    width: 50%;
}

.specialist-info {
    width: 50%;
}

.vertical-line {
    border-left: 1px solid rgba(255, 255, 255, 0.3); 
    margin-left: 10px; 
    padding-left: 10px; 
}

.update-user {
    text-align: center;
}