h2 {
    margin: 1em 0 0 0;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* This will allow the items to wrap to the next line if the screen size is small */
}

.team-image {
    border-radius: 50% !important;
    width: 80% !important;
    display: block;
    margin: auto;
}

.center-text {
    text-align: center;
}

.name {
    margin: 0px;
}

.description{
    margin: 0px !important;
    font-weight: 1000;
}

.affiliation {
    font-style: italic;
}