{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<div class="container">
    <h2 class="h2-heading">Previous Submissions</h2>
    <table class="submission-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Canvas Image</th>
                <th>Severity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
                <tr>
                    <td><img src="{{ submission.image.url }}" class="table-image" id="original_image_{{ submission.id }}" alt="Retina photo"></td>
                    <td><img src="{{ submission.canvas_image.image.url }}" class="table-image" id="canvas_image_{{ submission.id }}" alt="Canvas image"></td>
                    <td>{{ submission.correct_label.correct_label }}</td>
                    <td>
                        <a href="{% url 'update_submission' submission.patient_id %}">Edit/View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}