{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/team.css' %}" />
<section id="team" class="container">
    <header class="major">
        <h2>Lead Team</h2>
    </header>
    <div class="row">
        {% for member in lead_team %}
        <div class="col-4 col-12-medium">
            <span class="image fit"><img class="team-image" src="{% static 'images/team/'|add:member.img %}" alt="{{ member.name }}" /></span>
            <h3 class="name center-text">{{ member.name }}</h3>
            <p class="description center-text">{{ member.description }}</p>
            <p class="affiliation center-text">{{ member.affiliation }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<section id="team" class="container">
    <header class="major">
        <h2>Research Team</h2>
    </header>
    <div class="row">
        {% for member in research_team %}
        <div class="col-4 col-12-medium">
            <span class="image fit"><img class="team-image" src="{% static 'images/team/'|add:member.img %}" alt="{{ member.name }}" /></span>
            <h3 class="name center-text">{{ member.name }}</h3>
            <p class="description center-text">{{ member.description }}</p>
            <p class="affiliation center-text">{{ member.affiliation }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
